<?php require APP_ROOT . '/view/_shared/header.twig' ?>

<h1>About</h1>

<p>Version: <strong><?php echo APP_VERSION; ?></strong>
<p>Date: <strong><?php echo APP_DATE; ?></strong>

<?php require APP_ROOT . '/view/_shared/footer.twig' ?>