<?php require APP_ROOT . '/view/_shared/header.twig' ?>

<div class="container mt-6">
    <div class="row">
        <div class="col-3 offset-2">
            <img class="img img-responsive" src="/image/error.png" alt="Page not found" />
        </div>
        <div class="col-5 text-center">
            <p style="font-size: 150px">404</p>
            <h3 style="margin-bottom:50px">Page not found!</h3>
            <p> The requested page couldn't be located. Checkout for any URL
                misspelling or
                <a href="/">return to the homepage</a>
            </p>

        </div>
    </div>
</div>


<?php require APP_ROOT . '/view/_shared/footer.twig' ?>